{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}
<div class="container">
{% if latest_question_list %}
    <h3>List of Polls</h3>
    <div class="list-group">
    {% for question in latest_question_list %}
        <a class="list-group-item list-group-item-action" href="{% url 'polls:detail' question.id %}">
        <div class="d-flex w-100 justify-content-between">
        {{ question.question_text }}
        <small>Posted {{ question.pub_date|timesince }} ago</small>
        </div>
        </a>
    {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
{% endblock %}